<web-app>
<servlet>
<servlet-name>ts</servlet-name>
<servlet-class>com.nt.TestServlet</servlet-class>

</servlet>



<servlet-mapping>
<servlet-name>ts</servlet-name>
<url-pattern>/cnu</url-pattern>
</servlet-mapping>
<init-param>
<param-name>sname</param-name>
<param-value>srinu</param-value>
</init-param>

<init-param>
<param-name>cname</param-name>
<param-value>nits</param-value>
</init-param>

</web-app>