<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <welcome-file-list>
    <welcome-file>form1.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>fo</servlet-name>
    <servlet-class>com.nt.FormOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fo</servlet-name>
    <url-pattern>/cnu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ss</servlet-name>
    <servlet-class>com.nt.FormTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ss</servlet-name>
    <url-pattern>/cnu1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sss</servlet-name>
    <servlet-class>com.nt.FormTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sss</servlet-name>
    <url-pattern>/cnu2</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ff</servlet-name>
  <servlet-class>com.nt.formfourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ff</servlet-name>
  <url-pattern>/cnu3</url-pattern>
  </servlet-mapping>
</web-app>